#about {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#about h1 {
	font-size: 20px;
	color: #009421;	
}

#about img {
	width: 225px;
	margin-left: 20px;
}

#about .about-welcome {
	display: inline-block;
	width: 480px;
	vertical-align: top;	
	margin-left: 20px;
	text-align: left;
}

#about .about-greating {
	float: right;
	font-style: italic;	
}