.navbar {
	border-radius: 0px !important;
	background-color: #009421 !important;
	border: 0px;
	margin-bottom: 0px !important;
}

.navbar-collapse {
	padding-left: 0px !important;	
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF !important;
	padding: 20px 20px 20px 20px !important;
	/* background-color: #009421 !important; */
}

.navbar-default .navbar-nav>li>a:hover {
	color: #FFFFFF !important;
	background-color: rgba(77, 195, 99, 1) !important;
}

.shop-cart-icon {
	color: #FFFFFF;
	font-size: 30px;
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 18px;
	padding-left: 15px;
	padding-right: 15px;
}

.shop-cart-icon.active {
	color: #FFFFFF;
	background-color: #015E10;	
}

.shop-cart-icon:hover, .shop-cart-icon.active {
	color: #FFFFFF !important;
	background-color: rgba(77, 195, 99, 1);
}