#navigation {
    margin-top: 10px;
    font-size: 12px;
    color: #005b18;
}

#navigation a {
    color: #005b18;
    text-decoration: none;
}

#navigation a:hover {
    text-decoration: underline;
}

#navigation ul {
    margin: 0px;
    padding: 0px;
}

#navigation li {
    list-style-type: none;
}

#navigation ul.left-navigation {
    margin  : 0px;
    margin-top: 10px;
    padding : 0px;
}

#navigation ul.left-navigation li {
    margin-bottom: 2px;
}

#navigation ul.left-navigation li li {
    margin-bottom: 0px;
}
/*
#navigation ul.left-navigation li > a, ul.left-navigation li > a:hover {
    color: #005b18;
}
*/
