#leftMenu a {
	color:black;
}

#leftMenu h1 {
	font-size: 22px;
	color: grey;
}

#leftMenu ol {
	margin  : 0px;
	padding : 0px;
	list-style-type: none;
}

#leftMenu li {
	margin-left: 5px;
}

.leftMenu-hidden {
	display: none;
}