html, body {	
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/smaragdut_blur.jpg) no-repeat center center fixed;   
	-webkit-background-size: cover;  
	-moz-background-size: cover;  
	-o-background-size: cover;  
	background-size: cover;
	margin-bottom: 200px;  
}

body {
	width: 960px;
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: #fff;
}

.container {
	background-color: white;	
}

#header-logo {
	background-image: url(../images/cimsor_tavasz.png);
	background-size:960px 135px;
	height: 135px;
	background-color: #FFF;
}

#container .container {
	width : 1081px;
	margin-left:auto;
	margin-right:auto;
}

/* CARUSSEL */

#carousel {
	/* height: 360px; */
	background-color:#099;	
}

#content {
	min-height: 600px;	
	background-color: #ffffff; 
}

a {
	color: #2DA827;
	text-decoration: none;
}

a:hover, a:focus {
	color: #2DA827;
	text-decoration: underline;
}

/* CART */
#cart_info {
	margin: 0px 30px;	
}

/* CASHIER */
#cashier {
	margin: 30px 30px;
}

#cashier .table-wrapper {
	display:inline-block;
	width: 550px;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 25px;
}

#buyForm {
	display:inline-block;
	width: 280px;
}

/* ORDER SUCCESS */ 

#success-order {
	width: 500px;
	display: inline-block;
	margin-top: 15px;
	vertical-align: top;
}

/* SEARCH RESULT */

#searchresult {
		
}

#searchresult a {
	display:block;
	text-align: center;
}

#searchresult div {
	display: inline-block;
}

#searchresult div.searchresult-name {
	width: 200px;
}

#searchresult div.searchresult-description {
	width: 200px;
}

#searchresult div.searchresult-price {
	width: 200px;
}