/*
	GREEN-COLOR: #009421; 
	BORDER-GRAY: #D8D8D8;
	PURPLE-COLOR: #cb2b57;
*/

html, body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/smaragdut_blur.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 200px;
}

body {
	margin-left: auto !important;
	margin-right: auto !important;
	background-color: #fff;
	width: 960px;
}

.header1-title {
	height: 37px;
	font-size: 24px;
	margin-bottom: 2px;
	border-bottom: 3px solid #cb2b57;
	color: #cb2b57;
    text-transform:uppercase;
}

.header1-title.with-margin {
	margin-bottom: 40px;
	margin-top: 40px;
	font-weight: bold;
}

.smaragd-container {
	background-color: white;
	padding: 10px;
	padding-bottom: 50px;
}

#header-logo {
	background-image: url(../images/cimsor_tavasz.png);
	background-size:960px 135px;
	height: 135px;
	background-color: #FFF;
}

.smaragd-container {
	margin-left:auto;
	margin-right:auto;
}

/* CARUSSEL */

#carousel {
	/* height: 360px; */
	background-color:#099;	
}

#content {
	min-height: 600px;	
	background-color: #ffffff; 
}

a {
	color: #009421;
	text-decoration: none;
}

a:hover, a:focus {
	color: #2DA827;
	text-decoration: underline;
}

/* CART */
#cart_info {
	margin: 0px 30px;	
}

/* CASHIER */
#cashier {
	margin: 30px 30px;
}

#cashier .table-wrapper {
	display:inline-block;
	width: 550px;
	vertical-align: top;
	margin-left: 30px;
	margin-top: 25px;
}

#buyForm {
	display:inline-block;
	width: 280px;
}

/* ORDER SUCCESS */ 

#success-order {
	width: 500px;
	display: inline-block;
	margin-top: 15px;
	vertical-align: top;
}

/* SEARCH RESULT */

#searchresult {
		
}

#searchresult a {
	display:block;
	text-align: center;
}

#searchresult div {
	display: inline-block;
}

#searchresult div.searchresult-name {
	width: 200px;
}

#searchresult div.searchresult-description {
	width: 200px;
}

#searchresult div.searchresult-price {
	width: 200px;
}

/* BREAD CRUMBS */
.bread-crumbs {
	padding: 4px;
	border-radius: 4px;
	color: #000000;
    font-size: 10px;
}

.bread-crumbs a {
    color: #000000;
}

/* TYPEAHEAD */
.twitter-typeahead {
	vertical-align: top;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #009421;
/*  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)*/
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}