.a-col {
	display:inline-block;
	width: 180px;
	vertical-align: top;
}

.b-col {
	display:inline-block;
	width: 755px;
	vertical-align: top;
}

.product-item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 330px;
	margin-left: 7px;
	margin-bottom: 20px;
	overflow: hidden;
}

.product-item.home-item {
	margin-left: 8px;	
} 

.product-item-image {
	max-width: 210px;
	max-height: 210px;	
}

.product-item-imageBorder {
	width: 220px;
	height: 220px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;	
}

.product-item-image {
		
}

.product-item-info {
	position: relative;
	height: 98px;
	padding-left: 7px;
	text-align: center;
}

.product-item-name, .product-item-name:hover {
	font-weight: bold;
	color: black !important; 
	padding-top: 7px;
	text-overflow:ellipsis;
	overflow: hidden;
	height: 27px;
	white-space: nowrap;
	display: block;
}

.product-item-price a, .product-item-price a:hover {
	color: #da3b44;
	font-size: 20px;
	margin: 7px 0px;
}

.buy-it-link {
	padding: 2px 12px;
	background-color: #cb2b57;
	border-color: #cb2b57;
	border-radius: 0px;
	width: 125px;
	height: 36px;
}

.buy-it-link:hover {
	background-color: #cb2b57;
	border-color: #cb2b57;	
}

.details-link:hover {
	background-color: #cb2b57;
	border-color: #cb2b57;
}

#cart-info {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: #cb2b57;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.product-item-old-price {
    color: black;
    text-decoration: line-through;
    font-size: 15px;
    margin-right: 20px;
}