.a-col {
	display:inline-block;
	width: 170px;
	vertical-align: top;
}

.b-col {
	display:inline-block;
	width: 755px;
	vertical-align: top;
}

.b-col.products-margin {
	margin-top: 54px;	
}

.product-item {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 330px;
	margin-left: 7px;
	margin-bottom: 20px;
	/*
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	*/
	overflow: hidden;
}

.product-item.home-item {
	margin-left: 8px;	
} 

.product-item-image {
	max-width: 210px;
	max-height: 210px;	
}

.product-item-imageBorder {
	width: 220px;
	height: 220px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;	
}

.product-item-image {
		
}

.product-item-info {
	position: relative;
	height: 98px;
	padding-left: 7px;
	/*
	border-top: 1px solid #D8D8D8;
	background-color: #E9F9E9;
	*/
	text-align: center;
}

.product-item-name, .product-item-name:hover {
	font-weight: bold;
	color: black !important; 
	padding-top: 7px;
	text-overflow:ellipsis;
	overflow: hidden;
	height: 27px;
	white-space: nowrap;
	display: block;
}

.product-item-price, .product-item-price:hover {
	/* 
	position: absolute;
	bottom: -8px;
	left: 9px;
	*/
	color: #919191;
	font-size: 20px;
	display: block;
	margin: 7px 0px;
}

.buy-it-link {
	/*
	position: absolute;
	right: 4px;
	bottom: 4px;
	*/
	padding: 2px 12px;
	background-color: #cb2b57;
	border-color: #cb2b57;
	border-radius: 0px;
	width: 125px;
	height: 36px;
}

.buy-it-link:hover {
	background-color: #cb2b57;
	border-color: #cb2b57;	
}

.details-link:hover {
	background-color: #cb2b57;
	border-color: #cb2b57;
}