.productInfo {
	display: inline-block;
	width: 344px;
	float: right;
}

.productInfo dt {
	float: left;	
	font-weight: normal;
}

.productInfo dd {
	margin-left: 90px;
}

.productInfo-img {
	display: inline-block;
	max-width: 350px;
	/*max-height: 350px;*/
}

.productInfo-name {
	font-size: 20px;
}

.productInfo-price dd{
	color: green;
	font-weight: bold;
}

.productInfo-description {
	/* font-style: italic; */
}

.productInfo-small-img {
	max-width: 50px;
	max-height: 50px;	
}

#thumbnails {
	border-top: 1px solid #D8D8D8;
	background-color: #E9F9E9;
}

#thumbnails div {
	display: inline-block;
}

#thumbnails img {
	cursor: pointer;
}

.productInfoImageContainer {
	display: inline-block;
	width: 350px;
	/* height: 350px; */
	border: 1px solid #D8D8D8;
	text-align: center;
	margin-left: 15px;
	border-radius: 5px;
}

.vertical-middle {
	width: 350px;
	height: 350px;
	display: table-cell;
	vertical-align: middle;	
}