.a-col {
	display:inline-block;
	width: 200px;
	vertical-align: top;
}

.b-col {
	display:inline-block;
	width: 755px;
	vertical-align: top;
}

/* BREAD CRUMBS */

.breadcrumb {
	vertical-align: top;
	margin-top: 15px;
	padding: 8px 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.breadcrumb>li.active {
	color:#ddd;	
}

/* BREAD CRUMBS */

.product-link:active, .product-link:link, .product-link:hover, .product-link:visited {
	color:#015E10 ;
}

.product {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin: 15px;
	text-align: center;
	/*background-color: #DFFFDF;*/
}

.product-imageBorder {
	width: 220px;
	height: 220px;
	border: solid 1px #B2B8B3;
	box-shadow: 4px 4px 2px #888888;
	display: table-cell;
	vertical-align: middle;
}

.product-head {
	min-height: 196px;
}

.product-image {
	width: 218px;
}

.product h1 {
	font-size: 15px;
}

.product .price {
	font-size: 20px;
	color: #F60;
}

.product .description {
	font-size: 10px;
	margin-top: 15px;
}

/* LEFT MENU */

.badge {
	background-color: #fff;
	color: #108823;
}

#leftMenu>ul>li>ul .badge {
	background-color: transparent;
}

#leftMenu {
	display: inline-block;
	background-color: rgb(208, 253, 208);
	margin-top: 15px;	
	margin-left: 15px;
}

#leftMenu-title {
	text-align: center;	
	background-color: #108823;
	color: #D4FFCA;
	padding: 10px 0px;
	margin-bottom: 5px;
}

#leftMenu ul {
	margin  : 0px;
	padding : 0px;
	list-style-type: none;
}

#leftMenu>ul>li {
	margin-left: 0px;	
}

#leftMenu>ul>li>a {
	background-color: #ACFF8C;
	font-weight: bold;
}

#leftMenu>ul>li>ul a {
	padding: 3px 0px;
	padding-left: 15px;
	padding-right: 3px;
}

#leftMenu .leftMenu-hidden {
	display: none;
}

#leftMenu  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #108823;
	color: #fff;
}

#leftMenu .nav>li>a:hover, .nav>li>a:focus {
	/*background-color: #FF0000;*/
	color: #108823;
}

#leftMenu .nav>li>a.active {
	background-color: #108823;
	color: #fff;
}