.insert-arrow {
	/* color: #428bca; */
	font-size: 20px;
}
.progress-row {
	text-align: center;
	padding: 18px 31px;
	margin: 0px 10px;
	border-radius: 10px;
	/* color: rgb(226, 226, 226); */
}
.progress-row.active {
	background-color: rgb(154, 253, 154);
	color: black;
}
.progress-row-step {
	float: left;
	font-size: 18px;
}
.progress-row.active .progress-row-step {
	color: rgb(66, 150, 62);
}